body {
    background: rgb(255, 255, 255);
    margin: 0px;
}

#header {
    padding: 20px;
    background: rgb(190, 190, 190);
}

#content {
    background: #fff;
    padding: 20px;
}

#footer {
    background: rgb(189, 189, 189);
    padding: 20px;
}

.inventario{
    border: solid black 1px;
    border-collapse: collapse;
}